button{
    font:inherit;
    margin:0;
}

body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5; 
    margin:0;
}
.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
.w3-button:hover{
    color:#000!important;
    background-color:white!important;
}

.w3-green,.w3-hover-green:hover{
    color:#fff!important;
    background-color:#4CAF50!important;
}

